*.csv
/figures/analyse_Rsub/
/figures/clusterAnalysis/
/figures/DallOlmo/
/figures/essais_bioregionalisation/
/figures/interpolatedTimeseries/
/figures/map/
/figures/old/
/figures/parameterTestPlots/
/figures/parProfiles_Est+Meas/
/figures/plots/
/data/
/.Rproj.user/
/support/
.Rhistory
/figures/
*.png
